
@{
    ViewBag.Title = "UnauthorizedOperation";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<h2>Sin acceso</h2>

<section class="content-header">
    <h1>
     No tienes permiso
    </h1>
</section>


